@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<hr />
<p>@prev</p>
<p>@curr</p>

@code {
    private int? currentCount;

    private int prev;
    private int curr;

    private void IncrementCount()
    {
        prev = currentCount.Value.ToString().Length;

        if (currentCount is null)
            currentCount = 0;

        currentCount++;

        curr = currentCount.ToString().Length;
    }
}
